.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #000;
    color: #fff;
    &__link--img {
        width: 229px;
        height: 64px;
    }
    &__end {
        position: relative;
    }
    &__form--input {
        padding: 10px 486px 9px 46px;
        font-size: 17px;
        line-height: 20px;
        color: rgba(247, 247, 244, 0.35);
        background-color: #04594D;
        border: none;
    }
    &__form--btn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px 33px 7px 32px;
        font-size: 20px;
        line-height: 24px;
        border: none;
        color: #F7F7F4;
        background-color: #8E4042;
    }
}